<div class="text-center">
    <h1>Informações Sobre o Curso</h1>
    <div>
        <p>Data de Inicio do curso: 19/07/22</p>
    </div>
    <div>
        <p>Data de Término do curso: 01/07/22</p>
    </div>
    <div>
        <p>Coordenador: Júnior</p>
    </div>
    <div>
        <p>Instituição de Ensino: Senac</p>
    </div>
    <div>
        Endereço: Rod. Antônio Heil, 191 - Centro 2, Brusque - SC, 88353-100
    </div>
    <div>
        Número para Contato: (47) 3351-2626
    </div>
</div>
