<div class="text-left">
    <div class="text-center">
        <h1 class="display-4">Conteúdos Administrados</h1>
        <p>*Aspnet MVC</p>
        <p>*Mocagem de dados</p>
        <p>*Conexão com banco SQL</p>
        <p>*Chamada de api externa</p>
    </div>
    <a class="nav-item">
        <a class="nav-link align-text-bottom" asp-area="" asp-controller="https://documenter.getpostman.com/view/7064033/SWT5jMGk" asp-host="https://documenter.getpostman.com/view/7064033/SWT5jMGk">
            Link Postman</a>
        </a>
        <a class="nav-item">
            <a class="nav-link align-text-bottom" asp-area="" asp-controller="https://console.hgbrasil.com/documentation/weather" asp-action="Index">
               Hg Brasil</a>
        </a>
</div>