@model AlunoModel 

<form asp-controller="Aluno" asp-action="Index" method="post">
    <div class="mb-2">
        <label for="name" class="form-label d-block">Nome</label>
        <input type="text" asp-for="Nome" class="form-control col-md-1 d-inline" required>

        <label for="name" class="form-label d-block">Contato</label>
        <input type="text" asp-for="Contato" class="form-control col-md-1 d-inline" required>

        <label for="name" class="d-block">Idade</label>
        <div class="d-flex">
            <input type="text" asp-for="Idade" class="form-control col-md-1 mr-3" required>
            <select asp-for="Operacao" class="form-control col-md-1 d-inline">
                <option selected>Selecione a opção de filtro</option>
                <option value="=">Idade igual à</option>
                <option value=">">Idade maior que</option>
                <option value="<">Idade menor que</option>
            </select>
        </div>

    </div>
    <div class="text-left">
        <button type="submit" class="btn btn-primary col-1">Buscar</button>
    </div>
</form>
<div class="text-center">
    <a class="btn btn-primary col-md-1 m-1" type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
</div>