<div class="text-center">
    <h4>Aluno Adicionado com sucesso!</h4>
</div>
<div class="text-center">
    <a class="btn btn-primary col-md-1" role="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
</div>
