<div class="text-center">
    <h4>Professor Adicionado com sucesso!</h4>
</div>
<div class="text-center">
    <a class="btn btn-primary col-md-2" role="button" asp-controller="Professor" asp-action="Index">Voltar</a>
</div>
